# Terraform build directory
.terraform/

# State files
*.tfstate
*.tfstate.backup

# Secrets
*.tfvars
*.tfvars.json
*.auto.tfvars

# Optional: lock file (include only if you want shared version pinning)
#.terraform.lock.hcl
# Terraform plan output
tfplan.txt
tfplan.binary
